{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block main-content %}

<div class="container py-5 my-md-5 py-md-5">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <div class="mb-4">
          <h1 class="display-4 font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none" style="font-weight: bold;">
            Contact Us
          </h1>
          <p class="mx-auto max-w-[700px] text-gray-500 md:text-xl dark:text-gray-400">
            Greetings! 🌟 We're thrilled to connect with you on WhatsApp! 📱 Please feel free to reach out to us using the provided link below. Our team is here to assist you with any questions or inquiries you may have. Looking forward to hearing from you soon!🚀
          </p>
        </div>

        <div class="container">
          <img
            src="{% static 'app/images/banner/1.png' %}"
            width="1200"
            height="546"
            class="img-fluid"
            style="border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);"
          />
        </div>
        
        <a href="https://whatsapp.com/dl/" class="whatsapp-btn" target="_blank" style="margin-top: 20px;">
          <i class="fab fa-whatsapp"></i> Chat on WhatsApp
        </a>
      </div>
    </div>
  </div>
  

{% endblock main-content %}