{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome </h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn"  style="background-color: yellowgreen; color: white;">Profile</a></li><br>
    <li class="d-grid"><a href="{% url 'home' %}" class="btn"  style="background-color: yellowgreen; color: white;">Goto Shopping</a></li><br><hr>
    <li class="d-grid"><a href="{% url 'Logout' %}" class="btn"  style="background-color: rgb(45, 45, 45); color: white;">Logout</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password Change Successfully !!</h3>
    <hr>
    <div >
        <iframe src="https://giphy.com/embed/bRpa6DFERjTR9roQcQ" width="250" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}